<p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
 
 
 

<div class="d-flex justify-content-center">
    <img    height="600px" width="1800px" [src]="'assets/Roast6.jpg'" alt="A generic square placeholder image with rounded corners in a figure.">
</div>
  
  <div class="d-flex justify-content-center mt-3">
    <div class="card shadow"  style="width: 900px; height: 500px;">
      <div class="card-body">
        <h5 class="card-title">Contact Us</h5>
        <p class="card-text"><strong>Address:</strong><br>The Tunis<br>1 Treysa Place<br>Porthleven<br>Cornwall<br>Tn<br>United Kingdom</p>
        <p class="card-text"><strong>Opening Hours:</strong><br>Mon - Fri: 09.00 - 17.00<br>Sat - Sun: closed</p>
        <p class="card-text"><strong>Phone:</strong><br>01326 574337</p>
        <p class="card-text"><strong>Email:</strong><br>info@tncof.com</p>
      </div>
    </div>
  </div>
  
  