 <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>


 

 <div class="card">
    <div class="flex justify-content-center">
        <button type="button" (click)="showDialog()" pButton icon="pi pi-external-link" label="Hookah"></button>
        <button type="button" (click)="showDialog()" pButton icon="pi pi-external-link" label="Food"></button>
        <button type="button" (click)="showDialog()" pButton icon="pi pi-external-link" label="Hookah"></button>
    </div>
    
    <p-dialog header="Menu" filterBy="name"  filterPlaceholder="Filter by name" [resizable]="false" [modal]="true" [maximizable]="true" appendTo="body" [(visible)]="dialogVisible" [style]="{width: '705vw'}" [contentStyle]="{height: '300px'}">
        <p-table [value]="products | filter:searchTerm" [scrollable]="true" scrollHeight="flex" [tableStyle]="{'min-width': '50rem'}">
           
            <ng-template pTemplate="header">
                <tr>
                    <input type="text" id="searchInput" pInputText [(ngModel)]="searchTerm">
                    <th>Name</th>
               
                    <th>Country</th>
                    <th>Company</th>
                 </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
                <tr>
                    <td>{{customer.name}}</td>
                    <td>{{customer.description}}</td>
                    <td>{{customer.price}}</td>
                    <td>{{customer.image}}</td>
                </tr>
            </ng-template>
        </p-table>
        <ng-template pTemplate="footer">
            <button type="button" pButton pRipple icon="pi pi-times" (click)="dialogVisible=false" label="Dismiss" class="p-button-text"></button>
        </ng-template>
    </p-dialog>




 
</div>



